<h3>Add user</h3>

{% if user %}

<p><strong>{{user.username }}</strong> Successfully added.</p>
<p><a href="/api/">Back to user list</a></p>

{% endif %}


<form action="/api/add" method="POST">
    <label for = "username">Username</label>
    <input id="username_field" type=text name='username_field' />
    <label for = "email">Email</label>
    <input id="email_field" type=text name='email_field'/>
    <label for = "ID">ID</label>
    <input id="id_field" type=text name='id_field'/>
    
    <input type="submit" value="Add"/>
</form>
